<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-left:-20px; margin-top:-18px; margin-right:-20px">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "WedRegPH.jpg", :class => "carousel-img" %>
    </div>

    <div class="item">
      <%= image_tag "BabyRegPH.jpg", :class => "carousel-img" %>
    </div>
	</div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="intro-section" style="background:gray">
  <a data-toggle="modal" data-target="#video" id="regisli-video"><img src="/assets/RegisliVideoScreenshot.png"></a>
</div>

<!-- Intro Section -->
<section id="intro" class="first-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Registries made easy</h1>
        <p class="regisli-font">Regisli makes building a registry <a data-toggle="modal" data-target="#signup">simple</a>. Once you link your PayPal or Venmo account to your Regisli profile, simply <%= link_to "create", registries_path %> a registry in a single step and begin adding gifts. Send the link to your registry to guests and loved ones and start earning cash back today!</p>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="about" class="second-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>It's your moment. Be rewarded.</h1>
        <p>Earn cash back into your account as your guests and loved ones make purchases. Whether it's your graduation, wedding day, baby shower, or other special event, get a little something <a href="#" id="how-it-works">extra</a>....</p>
      </div>
    </div>
  </div>
</section>

<!-- Services Section -->
<section id="services" class="third-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Your favorite brands for your special moments</h1>
        <p>Regisli lets you shop from over XXX retailers to build your perfect registry. Add gifts from KitchenAid, Le Creuset, Dyson, Dansk, and <a href="#" id="branks">more</a>....</p>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="fourth-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Adding travel and experiences to your registry is a click away</h1>
        <p>Plan your breathtaking honeymoon or unforgettable post-graduation trip while getting a little spending money back. Regisli makes it easy to <a href="#" id="travel">book</a> flights, hotels, cars, and more with travel partners such as American Airlines, Hilton Grand Vacations, and Sandals Resorts, just to name a few!</p>
      </div>
    </div>
  </div>
</section>

<!-- Video Modal -->
<div id="video" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <%= video_tag("Regisli_Explainer.mp4", :controls => true, :poster => "Regisli_Logo.jpg", :size => "568x364") %>
      </div>
    </div>
  </div>
</div>


<script>
    $('.carousel').carousel({
        interval: 10000
    })
</script>