<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-left:-20px; margin-top:-18px; margin-right:-20px">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "WedRegPH.jpg", :class => "carousel-img" %>
    </div>

    <div class="item">
      <%= image_tag "BabyRegPH.jpg", :class => "carousel-img" %>
    </div>
	</div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="intro-section">
  <div style="padding-left:10px; padding-right:10px">
    <h1 class='title'>Welcome to Regisli!</h1>
    <p style='font-family:"Lobster Two", cursive'>At Regisli, we want to provide you and your guests with the optimal registry experience, and pay you for each item your guests purchase from your personalized registry!</p>
  </div>
  <br >

  <span style="padding-left:50px; padding-right:50px">
    <%= video_tag("Regisli_Explainer.mp4", :controls => true, :poster => "Regisli_Logo.jpg", :size => "640x360") %>
  </span>
</div>

<!-- Intro Section -->
    <section id="intro" class="first-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>First Section</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="second-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Second Section</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="third-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Third Section</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="fourth-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Fourth Section</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.</p>
                </div>
            </div>
        </div>
    </section>


<script>
    $('.carousel').carousel({
        interval: 10000
    })
</script>