<%= simple_form_for :nonuser_checkout_confirmation, url: nonuser_checkout_confirmation_path, :html => { method: :post, id: 'nonuser_checkout-confirmation-form' }, remote: true do |f| %>
    <div class="form-wrapper"><%= Product.find(@product.product_id).name %> -- <%= f.input_field :quantity, :style => "width:25px" %></div>
  <br />
  <%= f.submit "Confirm" %>
<% end %>