$('#nonuser-checkout-confirmation').modal('hide');

<% pr = ProductRegistry.find_by(registry_id: @registry.id, product_id: @product.id) %>
<% pr_quant = pr.quantity %>
<% pr_purch = pr.purchased %>

$('<%= "#remaining-#{@product.id}" %>').html('<p style="height:18px"><i><%= [pr_quant - pr_purch, 0].max %> more needed out of <%= pr_quant %></i></p>')