<div style="text-align:center">
  <div class="row">
    <%= mail_to "admin@regisli.com" do %>
        <span class="glyphicon glyphicon-envelope" style="font-size:30px; margin-top: 5px"></span><br>
      Contact
    <% end %>
  </div>
</div>