<div class="row">
  <div class="col-sm-2 nav">
    <li><b><u><%= link_to 'For the Bridesmaids', products_url(:keywords => URI.encode('For the Bridesmaids'.downcase), :page => 1) %></u></b></li>
    <li><b><u><%= link_to 'For the Groomsmen', products_url(:keywords => URI.encode('For the Groomsmen'.downcase), :page => 1) %></u></b></li>
    <li><b><u><%= link_to 'For the Guests', products_url(:keywords => URI.encode('For the Guests'.downcase), :page => 1) %></u></b></li>
  </div>
</div>