<div class="row">
  <div class="col-sm-2 nav">
    <li class="s-link"><b><u><%= link_to 'For the Bridesmaids', products_url(:keywords => URI.encode('bridesmaid gifts'.downcase), :page => 1) %></u></b></li>
    <li class="s-link"><b><u><%= link_to 'For the Groomsmen', products_url(:keywords => URI.encode('groomsmen gifts'.downcase), :page => 1) %></u></b></li>
    <li class="s-link"><b><u><%= link_to 'For the Guests', products_url(:keywords => URI.encode('wedding guest gifts'.downcase), :page => 1) %></u></b></li>
  </div>
</div>